@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Regular.ttf");
}

body {
  background-color: rgb(231, 156, 60);
  text-align: center;
  font-family: "Clear Sans";
}

h1 {
  color: #EEEFF2;
  font-size: 50px;
  text-decoration: underline;
}

.board {
  background: #C2C2C4;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  border-radius: 10px;
}

.cell {
  font-size: 30px;
  border: 1px solid #ABABAD;
  background: #EEEFF2;
  width: 106.25px;
  height: 106.25px;
  float: left;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #999;
  margin: 6.4px 5px 5px 6.2px;
  margin-top: px;
}

.cell > div{
  margin-top: 33px;
}

.tryAgain {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:65px;
  line-height:65px;
  width:131px;
  text-decoration:none;
  text-align:center;
}

.tryAgain:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}

.tryAgain:active {
  position:relative;
  top:1px;
}

h2 {
  color: white;
}
