@font-face{
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Regular.ttf");
}

body{
  background-color: rgb(231, 156, 60);
  text-align: center;
  font-family: "Clear Sans";
}
h1{
  color: #EEEFF2;
  font-size: 50px;
  text-decoration: underline;
}
.board {
  background: #C2C2C4;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  border-radius: 10px;
}

.cell{
  font-size: 30px;
  border: 1px solid #ABABAD;
  background: #EEEFF2;
  width: 106.25px;
  height: 106.25px;
  float: left;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #999;
  margin: 6.4px 5px 5px 6.2px;
  margin-top: px;
}
.cell > div{
  margin-top: 33px;
}


